@model IEnumerable<Antykwariat.Models.Gatunek>
@{
    ViewBag.Title = "Sklep";
}
<h3>Gatunki</h3>

<p>
    Wybierz spośród @Model.Count() gatunków:</p>
<ul>
    @foreach (var gatunek in Model)
    {
        <li>@Html.ActionLink(gatunek.Nazwa, "Browse", new { gatunek = gatunek.Nazwa })</li>
    }
</ul>
